dist: bionic

language: minimal

env:
  global:
    - REPO=docksal/varnish

  matrix:
    - VERSION=6.0 TAGS=6.0
    - VERSION=6.2 TAGS=6.2,latest

install:
  # Install Docksal to have a matching versions of Docker on the build host
  - curl -fsSL https://get.docksal.io | bash
  - fin version
  - fin sysinfo

script:
  - make
  - make start
  - make test

after_success:
  - ${TRAVIS_BUILD_DIR}/release.sh

after_failure:
  - make logs
